:root {
	--the-var: hsl(0, 50%, 0%);
}

html {
	width: 100%;
}
html,
body {
	margin: 0;
	min-height: 100%;
}
body {
	background-image: url('./img/jerome_ia_coalescence_1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	display: grid;
	grid-template-columns: 250px 1fr;
	padding: 1em;
	min-height: 90vh
}
button {
	border-radius: 0;
	border: white 2px solid;
	padding: 1em 1.5em;
	cursor: pointer;
	background: black;
	color: white;
}
button:hover {
	background: white;
	color: black;
}
p, h1, h2, h3, button, a {
	color: white;
	font-family: Montserrat, sans-serif;
}

nav,
main {
	background: hsla(0, 0%, 0%, 0.95);
}
nav {
	border-right: solid white 1px;
}
nav p.tab {
	text-transform: uppercase;
	text-shadow: white 0 0 4px;
	font-size: 1.4rem;
	text-align: center;
	cursor: pointer;
	padding: 1em;
	margin: 0;
}
nav p.tab:hover,
nav p.tab.active {
	background: white;
	color: black;
}
nav #audio-buttons {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}
nav #audio-buttons button {
	margin: 0 1rem;
}
main {
	padding: 1em;
}
.loader-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-container .loader {
	background: white;
	height: 30px;
	width: 30px;
	animation: rotate 2s infinite;
}
#home-container {
	padding: 4em;
}
#home-container p,
#home-container h1 {
	text-align: center;
}

#oscilloscope-container canvas#oscilloscope-canvas {
	margin: 20px 0;
}



@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(450deg);
	}
}
